.container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 0.75rem;
  z-index: 1;
  background: var(--background-color);
  color: var(--neutral-color);
  margin-bottom: -0.5rem;
  margin-left: 1rem;
  width: max-content;
  padding-inline: 0.5rem;
}

.input {
  font-size: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--neutral-color);
  background: var(--background-color);
  color: var(--neutral-color);
}

.errorList {
  bottom: -1rem;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  list-style: none;
}

.error {
  color: red;
  font-size: 0.75rem;
}
