.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.5rem;
  align-items: center;
  justify-content: center;
  width: 90%;
  max-width: 800px;
  margin-inline: auto;
  margin-top: 5rem;
}

.description {
  min-height: 10rem;
}

.btn {
  margin-top: 2rem;
}

.red {
  color: var(--red);
}
