:root {
  --max-width: 1440px;
  --body-padding-inline: 5%;
  --main-header-height: 75px;
  --main-footer-height: 200px;
  --user-profile-img-height-width: 10rem;

  --background-color: rgba(255, 255, 255, 1);
  --cta-color: rgba(249, 105, 14, 1);
  --neutral-color: rgba(8, 14, 44, 1);
  --cta-hover-color: rgb(225, 74, 9, 1);
  --disabled-color: rgb(135, 123, 115);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  width: var(--max-width);
  min-height: 100vh;
  padding-top: var(--main-header-height);
  padding-bottom: calc(var(--main-footer-height) + 5rem);
  color: var(--neutral-color);
  max-width: 100vw;
}

header {
  text-align: center;
}

button {
  display: flex;
  align-content: center;
  justify-content: center;
  padding-block: 1rem;
  padding-inline: 2rem;
  background: var(--cta-color);
  box-shadow: 0px 0px 2px 0px var(--neutral-color);
  color: var(--background-color);
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
}

button:hover {
  background: var(--cta-hover-color);
}

button:active {
  scale: 0.98;
}

button:disabled {
  cursor: not-allowed;
  background: var(--disabled-color);
}

a {
  text-decoration: none;
}

p {
  color: var(--neutral-color);
}

ul {
  list-style: none;
}
